<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            padding-left: 10%;
            padding-right: 10%;
        }

        a {
            cursor: pointer;
            color: indigo;
        }

        #back {
            width:500px;
        }

    </style>
</head>

<body>


<a onclick="document.getElementById('home').submit();"><span id="back" class="glyphicon glyphicon-home"></span></a>

<h2>Target <b># {{ details[7]|int + 1 }}</b></h2>

<ul class="pager">
  <li class="previous"> <a onclick="document.getElementById('previous').submit();">Previous</a></li>
  <li class="next"><a onclick="document.getElementById('next').submit();">Next</a></li>
</ul>

{% if details %}
    <table class="table table-striped">
        <tr>
            <td><b>Target </b></td>
            <td>{{ details[0] }}</td>
             <td> <form action="/structure" method="POST">
                     <input type="hidden" name="sequence" value="{{details[0]}}">
                     <input type="hidden" name="details" value="{{details}}">
                     <input type="submit" class="btn btn-info" value="Secondary structure">
                 </form>
            </td>
        </tr>
        <tr>
            <td><b>Toehold Series A </b> </td>
            <td>{{ details[1] }}</td>
             <td> <form action="/structure" method="POST">
                     <input type="hidden" name="sequence" value="{{details[1]}}">
                     <input type="hidden" name="details" value="{{details}}">
                     <input type="submit" class="btn btn-info" value="Secondary structure">
                 </form>
            </td>
        </tr>
        <tr>
            <td><b>Target single streadiness </b></td>
            <td>{{ details[2] }}</td>
        </tr>
        <tr>
            <td><b>Toehold single streadiness </b> </td>
            <td>{{ details[3] }}</td>
        </tr>
        <tr>
            <td><b>Toehold complex defect </b></td>
            <td>{{ details[4] }}</td>
        </tr>
        <tr>
            <td><b>Score </b></td>
            <td>{{ details[5] }}</td>
        </tr>
        {% for t in details[8] %}
        <tr>
            <td><b> Toehold Series B </b></td>
            <td><b style="color: darkorchid">{{t[0:36]}}</b>{{ t[36:75] }}<b style="color: red">{{ t[75]}}</b>{{t[76:97]}}</td>
            <td> <form action="/structure" method="POST">
                     <input type="hidden" name="sequence" value="{{t}}">
                     <input type="hidden" name="details" value="{{details}}">
                     <input type="submit" class="btn btn-info" value="Secondary structure">
                 </form>
            </td>
        </tr>
        {% endfor %}


    </table>
{% endif %}

{% if img %}

    <div class="center-block">
        <h4 class="center-block" style="padding-top: 20px; padding-bottom: 20px; "> Optimal secondary structure for <b> {{ title }}</b></h4>
        <img class="center-block" src={{img}}/>
    </div>
{% endif %}

<form id="previous" action="/details" method="POST">
                     <input type="hidden" name="list" value="{{details[6]}}">
                     <input type="hidden" name="index" value="{{details[7]|int - 1}}">
</form>
<form action="/details" id=next method="POST">
                     <input type="hidden" name="list" value="{{details[6]}}">
                     <input type="hidden" name="index" value="{{details[7]|int + 1}}">
</form>

<form action="/home" id=home method="POST">
                     <input type="hidden" name="list" value="{{details[6]}}">
</form>

</body>